.question-box h1 {
  margin-bottom: 5px;
}

.q-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.difficulty {
  background: #2563eb;
  color: white;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 12px;
}
